.explore-modal-container
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(87, 87, 87,0.9);
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.explore-close-area
{
    width: 100%;
    height: 100%;
    z-index: 7;
    position: absolute;
}

.explore-modal-wrapper
{
    width: 80%;
    height: 93%;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
}

.explore-modal-left
{
    width: 60%;
    height: 100%;
    position: relative;
}

.explore-modal-left img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore-modal-right
{
    width: 40%;
    height: 100%;
    background-color: white;
}

.emr-header,.emr-caption
{
    display: flex;
    align-items: center;
    padding: 1rem 1rem ;
    border-bottom: 1px solid #EFEFEF;
}
.actual-caption
{
    height: 67%;
}
.emr-caption
{

    align-items: center;
    padding: 1.5rem 1;
    border: none;
    height: auto;
    max-height: 200px;
    margin-bottom: 1rem;
}

.emr-pic,.comments-pic
{
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
    flex-shrink: 0;
}

.emr-name
{
    margin-right: 10px;
    line-height: 1.5;
}

.emr-pic img,.comments-pic img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.emr-comments
{
    width: 100%;
    height: 75%;
    overflow-y: auto;
    /* border-bottom: 1px solid #EFEFEF; */
}

.comments-container
{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.explore-next-btn,.explore-prev-btn
{
    position: absolute;
    left: 20px;
    transform: rotate(270deg);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #cdcdcd;
    display: grid;
    place-items: center;
    z-index: 200;
}

.explore-next-btn
{
    position: absolute;
    right: 30px;
    left: auto;
    transform: rotate(90deg);
}