.header-container
{
    position: sticky;
    max-width: 1920px;
    border-bottom: 1px solid #DBDBDB;
    background-color: white;
    top: 0;
    z-index: 3;
}

.header-wrapper
{
    width: 100%;
    max-width:975px;
    margin: 0 auto;
    position: relative;
    padding: 0.8em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-section
{
    height: 100%;
    display: flex;
    align-items: center;
}

.search-section
{
    height: 36px;
    position: relative;
}

.search-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 268px;
    padding: 0 1em;
    background-color: #EFEFEF;
    border-radius: 7px;
    height: 100%;
}

.search-icon
{
    font-size: 1.3rem;
    cursor: pointer;
}

#search-input
{
    width: 88%;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 1rem;
}

.links-section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-section div{
    margin-left:1.5em
}

.profile-btn
{
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(-2px);
}

.profile-btn img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-submenu
{
    position: absolute;
    z-index: 100;
    box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), .0975);
    background-color: white;
    width: auto;
    height: auto;
    top: 3.5rem;
    right: 0;
    border-radius: 10px;
    
}

.ps-triangle
{
    width:15px;
    height:15px;
    transform: rotate(45deg);
    position: absolute;
    background-color: white;
    top: -7.5px;
    right: 20px;
    box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), .0975);

}

.profile-submenu-wrapper
{
    position: relative;
    
}

.ps-list
{
    border-radius: 10px;
    
}

.ps-item
{
    width: 230px;
    height: 41px;
    padding: 12px 16px;
    background-color: white;
    border-radius: 5px 5px 0 0 ;
    font-weight: 350;
    font-size: 0.95rem;
    
}


.ps-item:nth-child(2)
{
    padding-bottom: 20px;
    height: 48px;
    border-radius: 0;
}

.ps-item:hover
{
    background-color: #efefef;
}
.ps-logout
{
    border-top: 1px solid #EFEFEF;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}